.search-container {
  .search-form {
    max-width: 500px;
    margin: 0 auto;
  }
  h2 {
    max-width: 500px;
    margin: auto;
    display: block;
    font-weight: 500;
    background-color: $color-1-t;
    border-radius: 5px;
    text-align: center;
  }
  input {
    font-family: $font-primary;
    background-color: $color-1-t;
    color: $color-2;

    &:focus {
      background-color: $color-1-t;
      color: $color-2;
    }
  }
}
