//BUTTONS
.btn {
  width: 90%;
  margin: 1rem auto;
  padding: .375rem;
  max-width: 240px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  font-family: $font-primary;
  font-weight: 700;
  transition: all 150ms ease-in-out;
}
.btn-disabled {
  opacity: .5;
  pointer-events: none;
}
.btn-1 {
  @extend .btn;
  background-color: $color-primary;
  color: $color-secondary;
  border: 1px solid $color-primary;
  
  &:hover {
    background-color: $color-primary;
    color: $color-secondary;
  }
}
.btn-3 {
  @extend .btn;
  background-color: $color-accent;
  color: $color-secondary;
  border: 1px solid $color-accent;

  &:hover {
    background-color: $color-primary;
    color: $color-secondary;
    border: 1px solid $color-secondary;

  }
}

//ALERTS
.required-alert {
  font-weight: 500;
  color: $red;
}

//DISPLAY
.heroes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  @media screen and (min-width: 992px) {
    gap: 2rem;
  }
}
.form-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}