$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Patua One', cursive;


//Colors:
$color-primary: #03071E;
$color-secondary: #E1E4F2;
$color-accent: #200638;
$red: #9D0208;
$dark-orange: #DC2F02;
$mustard: #FFBA08;
$white: #E1E4F2;

