$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Patua One', cursive;

$color-1-t: hsla(226, 32%, 18%, 0.5);
$color-1: #1f263c;
$color-2-t: hsla(225, 32%, 93%, 0.5);
$color-2: #e6e9f2;
$color-3-t: hsla(176, 32%, 26%, 0.5);
$color-3: #2d5754;
