.modal-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: blue;
  z-index: 3;
}
.modal-container {
  width: 90%;
  margin: 20% auto;
  padding: 0;
  display: flex;
  flex-flow: row;
  border: 1px solid red;
  text-align: center;
}

.img-modal {
  width: 50%;
  border: 1px inset pink;
}
.btn-modal {
  position: absolute;
  bottom: 50%;
  left: 72.5%;
  transform: translate(-50%, 50%);
}
