.navbar {
  flex-grow: 1;
  .navbar-title {
    margin: auto;
    font-family: $font-secondary;
    font-size: 1.2rem;

    @include breakpoint-up(tablet) {
      font-size: 1.75rem;
    }
  }
  li {
    font-family: $font-primary;

    @include breakpoint-up(large) {
      padding: 0.5rem 1rem;
    }
  }
}
